main {
  margin: 24px 0;
}

section + section {
  margin-top: 24px;
}

section h2 {
  margin-bottom: 12px;
  font-size: 2.4rem;
  font-weight: 600;
}

section ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 12px 24px;
}

