.filter_wrapper {
  max-width: 554px;
  justify-content: space-between;
  margin: 0 auto;
}

.filter_wrapper li {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 82px;
  cursor: pointer;
}

.filter_wrapper li span {
  margin-top: 6.5px;
}

.filter_wrapper li.selected span {
  color: var(--color-point);
  font-weight: 700;
  border-bottom: 3px solid var(--color-point);
}
